infrastructure/C1_nodered_flow.json
[
  {
    "id": "wattiq-tab",
    "type": "tab",
    "label": "WATT·IQ Energy Bridge",
    "disabled": false,
    "info": "Modbus RTU/TCP → Scale → MQTT Publish\nSelec EM2M → Messung PLC → InfluxDB via Telegraf\n\nInstall: node-red-contrib-modbus, node-red-contrib-mqtt-broker"
  },

  {
    "id": "inject-poll",
    "type": "inject",
    "z": "wattiq-tab",
    "name": "Poll every 5s",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [["modbus-read"]]
  },

  {
    "id": "modbus-read",
    "type": "modbus-flex-getter",
    "z": "wattiq-tab",
    "name": "Read Selec EM2M Registers",
    "showStatusActivities": false,
    "showErrors": true,
    "logIOActivities": false,
    "server": "modbus-server",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 340,
    "y": 100,
    "wires": [["scale-values"], ["modbus-error"]],
    "info": "FC03 Read Holding Registers\nStart: 3999 (= Register 4000, 0-based)\nCount: 14 registers\nSlave: 1"
  },

  {
    "id": "modbus-server",
    "type": "modbus-client",
    "name": "Messung PLC",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.1.10",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERED",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "",
    "unit_id": "1",
    "timeoutms": "3000",
    "parallelUnitIdsAllowed": true,
    "showErrors": false,
    "showWarnings": true,
    "showLogs": false,
    "x": 340,
    "y": 200
  },

  {
    "id": "scale-values",
    "type": "function",
    "z": "wattiq-tab",
    "name": "Scale Raw → Engineering Units",
    "func": "// ── Selec EM2M Register Map (0-based from 3999) ──\n// Index 0  = Voltage L1-N   (÷10 → V)\n// Index 1  = Voltage L2-N   (÷10 → V)\n// Index 2  = Voltage L3-N   (÷10 → V)\n// Index 3  = Current L1     (÷10 → A)\n// Index 4  = Current L2     (÷10 → A)\n// Index 5  = Current L3     (÷10 → A)\n// Index 6  = Active Power   (÷10 → kW)\n// Index 7  = Power Factor   (÷1000, signed INT)\n// Index 8  = Frequency      (÷10 → Hz)\n// Index 9/10 = Energy kWh   (DWORD Hi/Lo ÷10)\n\nconst r = msg.payload.data;\nif (!r || r.length < 11) {\n    node.warn('Not enough registers: ' + (r ? r.length : 0));\n    return null;\n}\n\n// Helper: WORD to signed INT (two's complement 16-bit)\nfunction toInt16(w) {\n    return w > 32767 ? w - 65536 : w;\n}\n\n// Helper: Two WORDs to DWORD\nfunction toDword(hi, lo) {\n    return ((hi & 0xFFFF) << 16) | (lo & 0xFFFF);\n}\n\nconst data = {\n    ts:          Math.floor(Date.now() / 1000),\n    meter_id:    'meter01',\n    location:    'building-a',\n\n    // Electrical measurements\n    V_L1:        parseFloat((r[0] / 10).toFixed(1)),\n    V_L2:        parseFloat((r[1] / 10).toFixed(1)),\n    V_L3:        parseFloat((r[2] / 10).toFixed(1)),\n    I_L1:        parseFloat((r[3] / 10).toFixed(2)),\n    I_L2:        parseFloat((r[4] / 10).toFixed(2)),\n    I_L3:        parseFloat((r[5] / 10).toFixed(2)),\n    kW:          parseFloat((r[6] / 10).toFixed(3)),\n    PF:          parseFloat((toInt16(r[7]) / 1000).toFixed(3)),\n    Hz:          parseFloat((r[8] / 10).toFixed(1)),\n    kWh:         parseFloat((toDword(r[9], r[10]) / 10).toFixed(1)),\n\n    // Derived values\n    kVA:         parseFloat(((r[6] / 10) / Math.max(Math.abs(toInt16(r[7]) / 1000), 0.01)).toFixed(3)),\n    CO2_kg:      parseFloat(((r[9] * 65536 + r[10]) / 10 * 0.5919).toFixed(2)),\n};\n\n// Alarm flag: peak demand > 15 kW\ndata.alarm_peak = data.kW > 15.0;\n\nnode.status({ fill: data.alarm_peak ? 'red' : 'green',\n              shape: 'dot',\n              text: data.kW + ' kW | PF ' + data.PF });\n\nmsg.payload = data;\nmsg.topic   = 'factory/' + data.location + '/' + data.meter_id + '/data';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 100,
    "wires": [["mqtt-publish", "debug-out", "influx-format"]]
  },

  {
    "id": "mqtt-publish",
    "type": "mqtt out",
    "z": "wattiq-tab",
    "name": "Publish to Mosquitto",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correlationData": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 820,
    "y": 60,
    "wires": [],
    "info": "Topic comes from msg.topic set in function node\nformat: factory/building-a/meter01/data\nQoS 1, Retain: true"
  },

  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-wattiq",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "factory/system/nodered/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"status\":\"online\"}",
    "birthMsg": {},
    "closeTopic": "factory/system/nodered/status",
    "closeQos": "1",
    "closeRetain": "true",
    "closePayload": "{\"status\":\"offline\"}",
    "closeMsg": {},
    "willTopic": "factory/system/nodered/status",
    "willQos": "1",
    "willRetain": "true",
    "willPayload": "{\"status\":\"offline\"}",
    "willMsg": {},
    "sessionExpiry": "",
    "x": 820,
    "y": 200
  },

  {
    "id": "influx-format",
    "type": "function",
    "z": "wattiq-tab",
    "name": "Format InfluxDB Line Protocol",
    "func": "// InfluxDB Line Protocol format (for HTTP write or Telegraf)\n// measurement,tag=value field=value timestamp\nconst d = msg.payload;\nconst ts = d.ts * 1000000000; // nanoseconds\n\nconst line = [\n    `energy,meter_id=${d.meter_id},location=${d.location}`,\n    ` kW=${d.kW},kWh=${d.kWh},PF=${d.PF},Hz=${d.Hz}`,\n    `,V_L1=${d.V_L1},V_L2=${d.V_L2},V_L3=${d.V_L3}`,\n    `,I_L1=${d.I_L1},I_L2=${d.I_L2},I_L3=${d.I_L3}`,\n    `,CO2_kg=${d.CO2_kg},alarm_peak=${d.alarm_peak}`,\n    ` ${ts}`\n].join('');\n\nmsg.payload = line;\nmsg.headers = { 'Content-Type': 'text/plain; charset=utf-8' };\nmsg.url     = 'http://localhost:8086/api/v2/write?org=wattiq&bucket=energy&precision=ns';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 120,
    "wires": [["influx-write"]]
  },

  {
    "id": "influx-write",
    "type": "http request",
    "z": "wattiq-tab",
    "name": "Write to InfluxDB",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      { "keyType": "str", "keyValue": "Authorization",
        "valueType": "str", "valueValue": "Token YOUR_INFLUXDB_TOKEN_HERE" }
    ],
    "x": 1040,
    "y": 120,
    "wires": [["influx-status"]]
  },

  {
    "id": "influx-status",
    "type": "switch",
    "z": "wattiq-tab",
    "name": "Check HTTP 204",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "204", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1040,
    "y": 200,
    "wires": [[], ["influx-error"]]
  },

  {
    "id": "influx-error",
    "type": "debug",
    "z": "wattiq-tab",
    "name": "InfluxDB Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1230,
    "y": 200,
    "wires": []
  },

  {
    "id": "debug-out",
    "type": "debug",
    "z": "wattiq-tab",
    "name": "Debug Payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 180,
    "wires": []
  },

  {
    "id": "modbus-error",
    "type": "function",
    "z": "wattiq-tab",
    "name": "Handle Modbus Error",
    "func": "node.warn('Modbus error: ' + JSON.stringify(msg.payload));\nnode.status({ fill: 'red', shape: 'ring', text: 'Comm error ' + new Date().toLocaleTimeString() });\n\n// Publish offline status to MQTT\nmsg.payload = JSON.stringify({ status: 'error', ts: Date.now(), msg: 'Modbus comm failed' });\nmsg.topic = 'factory/building-a/meter01/status';\nreturn msg;",
    "outputs": 1,
    "x": 570,
    "y": 200,
    "wires": [["mqtt-publish"]]
  },

  {
    "id": "comment-instructions",
    "type": "comment",
    "z": "wattiq-tab",
    "name": "SETUP INSTRUCTIONS",
    "info": "## WATT·IQ Node-RED Flow Setup\n\n### 1. Install required nodes\n```\nnpm install node-red-contrib-modbus\n```\n\n### 2. Configure Modbus server node\n- Type: TCP (if using PLC Ethernet) or RTU Serial\n- TCP Host: IP address ของ Messung PLC (default 192.168.1.10)\n- TCP Port: 502\n- Unit ID: 1 (Modbus slave address)\n\n### 3. Configure MQTT broker\n- Host: localhost (ถ้าใช้ Mosquitto ใน Docker)\n- Port: 1883\n\n### 4. Set InfluxDB token\n- เปิด node 'Write to InfluxDB'\n- แก้ Authorization header เป็น Token ของคุณ\n\n### 5. Topic Structure\n```\nfactory/{location}/{meter_id}/data    → JSON payload\nfactory/{location}/{meter_id}/status  → online/offline\nfactory/system/nodered/status         → birth/will\n```\n\n### 6. JSON Payload Format\n```json\n{\n  \"ts\": 1720000000,\n  \"meter_id\": \"meter01\",\n  \"kW\": 12.4,\n  \"kWh\": 1532.1,\n  \"V_L1\": 220.3,\n  \"I_L1\": 18.7,\n  \"PF\": 0.92,\n  \"Hz\": 50.1,\n  \"CO2_kg\": 906.5,\n  \"alarm_peak\": false\n}\n```",
    "x": 130,
    "y": 240,
    "wires": []
  }
]
